<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>tid</key>
		<string>1</string>
		<key>cid</key>
		<string>1</string>
		<key>code</key>
		<string>BRA</string>
		<key>name</key>
		<string>Brazil</string>
	</dict>
	<dict>
		<key>tid</key>
		<string>2</string>
		<key>cid</key>
		<string>1</string>
		<key>code</key>
		<string>HRV</string>
		<key>name</key>
		<string>Croatia</string>
	</dict>
	<dict>
		<key>tid</key>
		<string>3</string>
		<key>cid</key>
		<string>1</string>
		<key>code</key>
		<string>MEX</string>
		<key>name</key>
		<string>Mexico</string>
	</dict>
	<dict>
		<key>tid</key>
		<string>4</string>
		<key>cid</key>
		<string>1</string>
		<key>code</key>
		<string>CMR</string>
		<key>name</key>
		<string>Cameroon</string>
	</dict>
	<dict>
		<key>tid</key>
		<string>5</string>
		<key>cid</key>
		<string>2</string>
		<key>code</key>
		<string>ESP</string>
		<key>name</key>
		<string>Spain</string>
	</dict>
	<dict>
		<key>tid</key>
		<string>6</string>
		<key>cid</key>
		<string>2</string>
		<key>code</key>
		<string>NLD</string>
		<key>name</key>
		<string>Netherlands</string>
	</dict>
	<dict>
		<key>tid</key>
		<string>7</string>
		<key>cid</key>
		<string>2</string>
		<key>code</key>
		<string>CHL</string>
		<key>name</key>
		<string>Chile</string>
	</dict>
	<dict>
		<key>tid</key>
		<string>8</string>
		<key>cid</key>
		<string>2</string>
		<key>code</key>
		<string>AUS</string>
		<key>name</key>
		<string>Australia</string>
	</dict>
	<dict>
		<key>tid</key>
		<string>9</string>
		<key>cid</key>
		<string>3</string>
		<key>code</key>
		<string>COL</string>
		<key>name</key>
		<string>Colombia</string>
	</dict>
	<dict>
		<key>tid</key>
		<string>10</string>
		<key>cid</key>
		<string>3</string>
		<key>code</key>
		<string>GRC</string>
		<key>name</key>
		<string>Greece</string>
	</dict>
	<dict>
		<key>tid</key>
		<string>11</string>
		<key>cid</key>
		<string>3</string>
		<key>code</key>
		<string>CIV</string>
		<key>name</key>
		<string>Ivory Coast</string>
	</dict>
	<dict>
		<key>tid</key>
		<string>12</string>
		<key>cid</key>
		<string>3</string>
		<key>code</key>
		<string>JPN</string>
		<key>name</key>
		<string>Japan</string>
	</dict>
	<dict>
		<key>tid</key>
		<string>13</string>
		<key>cid</key>
		<string>4</string>
		<key>code</key>
		<string>URY</string>
		<key>name</key>
		<string>Uruguay</string>
	</dict>
	<dict>
		<key>tid</key>
		<string>14</string>
		<key>cid</key>
		<string>4</string>
		<key>code</key>
		<string>CRC</string>
		<key>name</key>
		<string>Costa Rica</string>
	</dict>
	<dict>
		<key>tid</key>
		<string>15</string>
		<key>cid</key>
		<string>4</string>
		<key>code</key>
		<string>ENG</string>
		<key>name</key>
		<string>England</string>
	</dict>
	<dict>
		<key>tid</key>
		<string>16</string>
		<key>cid</key>
		<string>4</string>
		<key>code</key>
		<string>ITA</string>
		<key>name</key>
		<string>Italy</string>
	</dict>
	<dict>
		<key>tid</key>
		<string>17</string>
		<key>cid</key>
		<string>5</string>
		<key>code</key>
		<string>CHE</string>
		<key>name</key>
		<string>Switzerland</string>
	</dict>
	<dict>
		<key>tid</key>
		<string>18</string>
		<key>cid</key>
		<string>5</string>
		<key>code</key>
		<string>ECU</string>
		<key>name</key>
		<string>Ecuador</string>
	</dict>
	<dict>
		<key>tid</key>
		<string>19</string>
		<key>cid</key>
		<string>5</string>
		<key>code</key>
		<string>FRA</string>
		<key>name</key>
		<string>France</string>
	</dict>
	<dict>
		<key>tid</key>
		<string>20</string>
		<key>cid</key>
		<string>5</string>
		<key>code</key>
		<string>HND</string>
		<key>name</key>
		<string>Honduras</string>
	</dict>
	<dict>
		<key>tid</key>
		<string>21</string>
		<key>cid</key>
		<string>6</string>
		<key>code</key>
		<string>ARG</string>
		<key>name</key>
		<string>Argentina</string>
	</dict>
	<dict>
		<key>tid</key>
		<string>22</string>
		<key>cid</key>
		<string>6</string>
		<key>code</key>
		<string>BIH</string>
		<key>name</key>
		<string>Bosnia and Herzegovina</string>
	</dict>
	<dict>
		<key>tid</key>
		<string>23</string>
		<key>cid</key>
		<string>6</string>
		<key>code</key>
		<string>IRN</string>
		<key>name</key>
		<string>Iran</string>
	</dict>
	<dict>
		<key>tid</key>
		<string>24</string>
		<key>cid</key>
		<string>6</string>
		<key>code</key>
		<string>NGA</string>
		<key>name</key>
		<string>Nigeria</string>
	</dict>
	<dict>
		<key>tid</key>
		<string>25</string>
		<key>cid</key>
		<string>7</string>
		<key>code</key>
		<string>DEU</string>
		<key>name</key>
		<string>Germany</string>
	</dict>
	<dict>
		<key>tid</key>
		<string>26</string>
		<key>cid</key>
		<string>7</string>
		<key>code</key>
		<string>PRT</string>
		<key>name</key>
		<string>Portugal</string>
	</dict>
	<dict>
		<key>tid</key>
		<string>27</string>
		<key>cid</key>
		<string>7</string>
		<key>code</key>
		<string>GHA</string>
		<key>name</key>
		<string>Ghana</string>
	</dict>
	<dict>
		<key>tid</key>
		<string>28</string>
		<key>cid</key>
		<string>7</string>
		<key>code</key>
		<string>USA</string>
		<key>name</key>
		<string>USA</string>
	</dict>
	<dict>
		<key>tid</key>
		<string>29</string>
		<key>cid</key>
		<string>8</string>
		<key>code</key>
		<string>BEL</string>
		<key>name</key>
		<string>Belgium</string>
	</dict>
	<dict>
		<key>tid</key>
		<string>30</string>
		<key>cid</key>
		<string>8</string>
		<key>code</key>
		<string>DZA</string>
		<key>name</key>
		<string>Algeria</string>
	</dict>
	<dict>
		<key>tid</key>
		<string>31</string>
		<key>cid</key>
		<string>8</string>
		<key>code</key>
		<string>RUS</string>
		<key>name</key>
		<string>Russia</string>
	</dict>
	<dict>
		<key>tid</key>
		<string>32</string>
		<key>cid</key>
		<string>8</string>
		<key>code</key>
		<string>KOR</string>
		<key>name</key>
		<string>Korea</string>
	</dict>
</array>
</plist>
